<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= eak %></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div class="container">
      <h1><%= eak %></h1>
      <p><%= index.comingSoon %></p>
    </div>

    <!-- build:js /js/bowerComponents.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <!-- build:js /js/app.js -->
    <script src="/scripts/test.js"></script>
    <!-- endbuild -->
  </body>
</html>
